[data-theme="dark"] {
	// Font Family

	background-color: #1A1A1A;

	// Text Colors

	--text-color: #FFFFFF;

	--text-white: #FFFFFF;
	--text-black: #FFFFFF;

	--text-grey-scale-00: #FFFFFF;
	--text-grey-scale-01: #FFFFFF;
	--text-grey-scale-02: #FFFFFF;
	--text-grey-scale-03: #FFFFFF;
	--text-grey-scale-04: #FFFFFF;
	--text-grey-scale-05: #FFFFFF;
	--text-grey-scale-06: #FFFFFF;
	--text-grey-scale-07: #FFFFFF;
	--text-grey-scale-08: #FFFFFF;
	
	--text-disabled: #FFFFFF;

	--text-assitence-laranja: #FFFFFF;
	--text-assitence-amarelo: #FFFFFF;
	--text-assitence-verde-claro: #FFFFFF;
	--text-assitence-piscina: #FFFFFF;

	--text-system-focus: #FFFFFF;
	--text-system-link: #FFFFFF;
	--text-system-link-visited: #FFFFFF;
	--text-system-negative: #FFFFFF;
	--text-system-alert: #FFFFFF;
	--text-system-positive: #FFFFFF;

	// Solid Colors

	--color: #1A1A1A;

	--pure-white: #1A1A1A;
	--pure-black: #1A1A1A;
  --bg-topbar: #1A1A1A;
  --bg-body: #1A1A1A;
  --bg-dark: #1A1A1A;

	--grey-scale-00: #1A1A1A;
	--grey-scale-01: #1A1A1A;
	--grey-scale-02: #1A1A1A;
	--grey-scale-03: #1A1A1A;
	--grey-scale-04: #1A1A1A;
	--grey-scale-05: #1A1A1A;
	--grey-scale-06: #1A1A1A;
	--grey-scale-07: #1A1A1A;
	--grey-scale-08: #1A1A1A;
	--grey-scale-08: #1A1A1A;
	
	--disabled: #1A1A1A;

	--assitence-laranja: #1A1A1A;
	--assitence-amarelo: #1A1A1A;
	--assitence-verde-claro: #1A1A1A;
	--assitence-piscina: #1A1A1A;

	--system-focus: #1A1A1A;
	--system-link: #1A1A1A;
	--system-link-visited: #1A1A1A;
	--system-negative: #1A1A1A;
	--system-alert: #1A1A1A;
	--system-positive: #1A1A1A;

}