// FONT MATTER

@font-face {
  font-family: 'Matter';
  src: url("../fonts/Matter/MatterLight.ttf") format("truetype"),
  url("../fonts/Matter/MatterLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url("../fonts/Matter/MatterLightItalic.ttf") format("truetype"),
  url("../fonts/Matter/MatterLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Matter';
  src: url("../fonts/Matter/MatterRegular.ttf") format("truetype"),
  url("../fonts/Matter/MatterRegular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url("../fonts/Matter/MatterRegularItalic.ttf") format("truetype"),
  url("../fonts/Matter/MatterRegularItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Matter';
  src: url("../fonts/Matter/MatterSemiBold.ttf") format("truetype"),
  url("../fonts/Matter/MatterSemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url("../fonts/Matter/MatterSemiBoldItalic.ttf") format("truetype"),
  url("../fonts/Matter/MatterSemiBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Matter';
  src: url("../fonts/Matter/MatterBold.ttf") format("truetype"),
  url("../fonts/Matter/MatterBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: url("../fonts/Matter/MatterBoldItalic.ttf") format("truetype"),
  url("../fonts/Matter/MatterBoldItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

// FONT CONCRETTE

@font-face {
  font-family: 'Concrette';
  src: url("../fonts/Concrette/ConcretteM-Thin.ttf") format("truetype"),
  url("../fonts/Concretee/ConcretteM-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Concrette';
  src: url("../fonts/Concrette/ConcretteM-Medium.ttf") format("truetype"),
  url("../fonts/Concretee/ConcretteM-Medium.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?8yr2di");
  src: url("../fonts/icomoon/icomoon.eot?8yr2di#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?8yr2di") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?8yr2di") format("woff"),
    url("../fonts/icomoon/icomoon.svg?8yr2di#icomoon") format("svg");
  font-weight: normal; 
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none; 
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aumentar-fonte:before {
  content: url(../../images/aumentar-fonte.svg);
  color: #ffffff;
  filter: invert(1);
}
.icon-arrow-down:before {
  content: "\e900";
  color: #fff;
}
.icon-arrow-left:before {
  content: "\e901";
  color: #4d4d4d;
}
.icon-arrow-right:before {
  content: "\e902";
  color: #1358bf;
}
.icon-busca:before {
  content: "\e903";
  color: #000000;
  font-weight: 900;
}
.icon-contraste:before {
  content: "\e904";
  color: #ffffff;
}
.icon-diminuir-fonte:before {
  // content: "\e905";
  content: url(../../images/diminuir-fonte.svg);
  color: #ffffff;
  filter: invert(1);
}
.icon-exibir:before {
  content: "\e906";
  // color: #fff;
  color: #ffffff;
  font-weight: 700;
}
.icon-alerts:before {
  content: "\e907";
  color: #fff;
}
.icon-site:before {
  content: "\e908";
  color: #fff;
}
