:root {
  // Font Family

  --font-concrette: "Concrette";
  --font-matter: "Matter";
  // Text Colors

  --text-color: #1a1a1a;

  --text-white: #ffffff;
  --text-black: #1a1a1a;
  --bg-topbar: #ebebed;
  --bg-dark: #080808;

  --text-grey-scale-00: #f0f0f2;
  --text-grey-scale-01: #e6e6e6;
  --text-grey-scale-02: #d9d9d9;
  --text-grey-scale-03: #cccccc;
  --text-grey-scale-04: #999999;
  --text-grey-scale-05: #666666;
  --text-grey-scale-06: #595959;
  --text-grey-scale-07: #333333;
  --text-grey-scale-08: #1a1a1a;

  --text-disabled: #d9d9d9;

  --text-assitence-laranja: #d05310;
  --text-assitence-amarelo: #eab62b;
  --text-assitence-verde-claro: #9eb02d;
  --text-assitence-piscina: #81d8c2;

  --text-system-focus: #2e82e5;
  --text-system-link: #1a0dab;
  --text-system-link-visited: #1b1466;
  --text-system-negative: #d23a20;
  --text-system-alert: #e5ac00;
  --text-system-positive: #1e986f;

  // Solid Colors

  --color: #1a1a1a;

  --pure-white: #ffffff;
  --pure-black: #1a1a1a;
  --bg-body: #f7f7f7;

  --grey-scale-00: #f0f0f2;
  --grey-scale-01: #e6e6e6;
  --grey-scale-02: #d9d9d9;
  --grey-scale-03: #cccccc;
  --grey-scale-04: #999999;
  --grey-scale-05: #666666;
  --grey-scale-06: #595959;
  --grey-scale-07: #333333;
  --grey-scale-08: #1a1a1a;

  --disabled: #d9d9d9;

  --assitence-laranja: #d05310;
  --assitence-amarelo: #eab62b;
  --assitence-verde-claro: #9eb02d;
  --assitence-piscina: #81d8c2;

  --system-focus: #2e82e5;
  --system-link: #1a0dab;
  --system-link-visited: #1b1466;
  --system-negative: #d23a20;
  --system-alert: #e5ac00;
  --system-positive: #1e986f;
}
